{% extends 'base.html.twig' %}
{% block body %}
<form method="post" action="{{ path('app_review2') }}">
<input type="number" id="n1" name="idr" placeholder="restaurant_id">
<input type="number" id="n2" name="idu" placeholder="user_id">
<input type="text" id="n3" name="message" placeholder="message">
<input type="number" id="n4" name="rating" placeholder="rating">
<input type="date" id="n5" name="datecreat" placeholder="date de création">

<button type="submit" name="submit">Ok</button>
</form>
{% endblock %}